[Unit]
Description=Linux Firmware Loader Daemon

[Service]
Type=simple
ExecStart=/usr/bin/firmwared -d /lib/firmware

[Install]
WantedBy=multi-user.target
