[Unit]
Description=Runtime Dynamic Configuration for various NXP i.MX/LS platforms
Before=gdm.service gdm3.service
Wants=weston.service

[Service]
Type=oneshot
ExecStart=/usr/bin/distroplatcfg

[Install]
WantedBy=multi-user.target
