source "src/apps/graphics/Kconfig"

source "src/apps/multimedia/Kconfig"

source "src/apps/ml/Kconfig"

source "src/apps/gopoint/Kconfig"

source "src/apps/networking/Kconfig"

source "src/apps/utils/Kconfig"

source "src/apps/security/Kconfig"

source "src/apps/robotics/Kconfig"