# ============================================================================
# AI/ML Configuration
# ============================================================================

config APP_ML
	bool "AI/ML frameworks"
	default y
	depends on PLATFORM_IMX
	help
	  Build AI/ML frameworks (TensorFlow Lite, etc.)

if APP_ML && PLATFORM_IMX


config ML_EIQ_EXAMPLES
	bool "eIQ ML examples"
	default y
	depends on SOC_IMX93 && ML_TFLITE
	help
	  NXP eIQ machine learning examples and demos

config ML_ETHOSU_DRIVER_STACK
	bool "Ethos-U NPU driver stack"
	default y
	depends on SOC_IMX93 && ML_ETHOSU_FIRMWARE && ML_FLATBUFFERS && ML_TFLITE
	help
	  Arm Ethos-U NPU driver stack

config ML_ETHOSU_FIRMWARE
	bool "Ethos-U NPU firmware"
	default y
	depends on SOC_IMX93
	help
	  Firmware for Arm Ethos-U NPU

config ML_ETHOSU_VELA
	bool "Ethos-U Vela compiler"
	default y
	depends on SOC_IMX93 && ML_ETHOSU_DRIVER_STACK
	help
	  Neural network compiler for Arm Ethos-U NPU

config ML_FLATBUFFERS
	bool "FlatBuffers serialization library"
	default y
	help
	  Memory efficient serialization library

config ML_NEUTRON
	bool "Neutron NPU driver"
	default y
	depends on SOC_IMX95
	help
	  NXP Neutron NPU driver and runtime

config ML_NNSHARK
	bool "nnshark profiling tool"
	default y
	depends on SOC_IMX8 && MM_GST_PLUGINS_BAD && GFX_LIBGPUPERFCNT && ML_NNSTREAMER
	help
	  Neural network profiling tool for NNStreamer

config ML_NNSTREAMER_EDGE
	bool "NNStreamer Edge"
	default y
	help
	  NNStreamer for edge AI applications

config ML_NNSTREAMER
	bool "NNStreamer"
	default y
    depends on SOC_IMX8 || SOC_IMX95 || SOC_IMX93
	depends on MM_GSTREAMER && MM_GST_PLUGINS_BASE && ML_NNSTREAMER_EDGE && ML_TFLITE
	help
	  Neural network streaming framework based on GStreamer

# config ML_PYTORCH
# 	bool "PyTorch deep learning framework"
# 	default y
# 	help
# 	  PyTorch machine learning framework

config ML_SSAT
	bool "SSAT - Shell Script Automated Tester"
	default y
    depends on ML_NNSTREAMER
	help
	  Testing framework for NNStreamer

config ML_TFLITE_ETHOSU_DELEGATE
	bool "TensorFlow Lite Ethos-U delegate"
	default y
	depends on SOC_IMX93 && ML_TFLITE && ML_ETHOSU_DRIVER_STACK
	help
	  TensorFlow Lite delegate for Arm Ethos-U NPU

config ML_TFLITE
	bool "TensorFlow Lite"
	default y
	depends on ML_FLATBUFFERS
	help
	  TensorFlow Lite inference framework

config ML_TFLITE_NEUTRON_DELEGATE
	bool "TensorFlow Lite Neutron delegate"
	default y
	depends on SOC_IMX95 && ML_TFLITE && ML_NEUTRON
	help
	  TensorFlow Lite delegate for NXP Neutron NPU

config ML_TFLITE_VX_DELEGATE
	bool "TensorFlow Lite VX delegate"
	default y
	depends on SOC_IMX8 && ML_TFLITE && ML_TIM_VX
	help
	  TensorFlow Lite delegate for Vivante NPU

config ML_TIM_VX
	bool "TIM-VX - Tensor Interface Module"
	default y
	depends on SOC_IMX8 && GFX_GPU_VIV
	help
	  Tensor Interface Module for Vivante NPU

# config ML_TVM
# 	bool "Apache TVM deep learning compiler"
# 	default y
# 	help
# 	  Apache TVM deep learning compiler stack


endif # APP_ML
