[Unit]
Description=Runtime Dynamic Configuration for various NXP i.MX/LS platforms

[Service]
ExecStart=/usr/bin/distroplatcfg

[Install]
WantedBy=multi-user.target
