# i.MX Platform Specific Configuration

if PLATFORM_IMX

config SOC_IMX8MPEVK
	bool "imx8mpevk board"
	select ARCH_ARM64
	help
	  imx8mpevk board

config SOC_IMX8MPFRDM
	bool "imx8mpfrdm board"
	select ARCH_ARM64
	help
	  imx8mpfrdm board

config SOC_IMX8MMEVK
	bool "imx8mmevk board"
	select ARCH_ARM64
	help
	  imx8mmevk board

config SOC_IMX91EVK
	bool "imx91evk board"
	select ARCH_ARM64
	help
	  imx91evk board

config SOC_IMX91FRDM
	bool "imx91frdm board"
	select ARCH_ARM64
	help
	  imx91frdm board

config SOC_IMX91SFRDM
	bool "imx91sfrdm board"
	select ARCH_ARM64
	help
	  imx91sfrdm board

config SOC_IMX93EVK
	bool "imx93evk board"
	select ARCH_ARM64
	help
	  imx93evk board

config SOC_IMX93FRDM
	bool "imx93frdm board"
	select ARCH_ARM64
	help
	  imx93frdm board

config SOC_IMX95EVK
	bool "imx95evk board"
	select ARCH_ARM64
	help
	  imx95evk board

config SOC_IMX95FRDM
	bool "imx95frdm board"
	select ARCH_ARM64
	help
	  imx95frdm board

endif # PLATFORM_IMX
